name: workflow

on:
  push:
    branches:
      - main

env:
  HEALTHCHECK_URL: http://34.228.255.233:50000

permissions:
  id-token: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # - name: Virtual env
      #   run: |
      #     sudo apt install python3.12-venv -y
      #     python3 -m venv venv
      #     source venv/bin/activate
          
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Unit Tests
        run: |
          python3 -m unittest test_app.py

      - name: Run Integration Tests
        run: |
          python3 -m unittest discover -s . -p "test_*.py" -v
      
      - name: Deploy Flask Application
        run: |
          nohup python3 app.py &

  docker-build:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      
    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
   
    - name: Build Docker Image
      run: docker build -t pavan095/github_action_docker:latest .
   
    - name: Push Docker Image
      run: docker push pavan095/github_action_docker:latest

    - name: Install cosign
      uses: sigstore/cosign-installer@v3
      with:
        cosign-release: 'latest'

    - name: Clear sigstore cache
      run: rm -rf ~/.sigstore ~/.cache/sigstore

    - name: Sign Docker Image
      env:
        COSIGN_EXPERIMENTAL: 1
        SIGSTORE_NO_CACHE: "true"
      run: |
        cosign sign --yes pavan095/github_action_docker:latest

    - name: Push Signed Image to Docker Hub
      run: docker push pavan095/github_action_docker:latest
      
    - name: Log out from Docker Hub  
      run: docker logout
          
      

  # health:
  #   needs: Build-test-deploy
  #   runs-on: self-hosted

  #   steps:
  #     - name: Health check
  #       run: |
  #         for i in {1..10}; do
  #           curl -s -o /dev/null -w "%{http_code}" $HEALTHCHECK_URL | grep "200" && echo "Health check passed" && exit 0 || echo "Waiting for service...";
  #           sleep 5;
  #         done;
  #         echo "Health check failed***" && exit 1


