name: workflow

on:
  push:
    branches:
      - main

env:
  HEALTHCHECK_URL: http://34.228.255.233:50000

permissions:
  id-token: write
  contents: read
  security-events: write
  pull-requests: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        # with:
        #   python-version: '3.9'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install coverage

      - name: Generate SBOM for source
        uses: anchore/sbom-action@v0
        with:
          path: .
          format: spdx-json
          output-file: sbom-source.spdx.json

      - name: Upload SBOM Artifact
        uses: actions/upload-artifact@v4
        with:
          name: sbom-source
          path: sbom-source.spdx.json

      - name: Run Unit Tests with Coverage
        run: |
          coverage run -m unittest test_app.py
          coverage report -m --fail-under=80

      - name: Run Integration Tests with Coverage
        run: |
          coverage run -a -m unittest discover -s . -p "test_*.py" -v
          coverage report -m --fail-under=80

      - name: Generate Coverage HTML Report
        run: |
          coverage html
          coverage xml

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: htmlcov/

      - name: Deploy Flask Application
        run: |
          nohup python3 app.py &

  docker-build:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      
    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
   
    - name: Build Docker Image
      run: docker build -t pavan095/github_action_docker:latest .
   
    - name: Push Docker Image
      run: docker push pavan095/github_action_docker:latest

    - name: Generate SBOM with Syft
      uses: anchore/sbom-action@v0
      with:
        image: pavan095/github_action_docker:latest
        format: spdx-json
        output-file: sbom.spdx.json

    - name: Upload SBOM Artifact
      uses: actions/upload-artifact@v4
      with:
        name: sbom
        path: sbom.spdx.json

    - name: Run Trivy Vulnerability Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: pavan095/github_action_docker:latest
        format: 'sarif'
        output: 'trivy-results.sarif'

    - name: Upload Trivy Results to GitHub Security
      uses: github/codeql-action/upload-sarif@v4
      with:
        sarif_file: 'trivy-results.sarif'

    - name: Install cosign
      uses: sigstore/cosign-installer@v3

    - name: Clear sigstore cache
      run: rm -rf ~/.sigstore ~/.cache/sigstore

    - name: Sign Docker Image
      env:
        COSIGN_EXPERIMENTAL: 1
        SIGSTORE_NO_CACHE: "true"
      run: |
        cosign sign --yes pavan095/github_action_docker:latest

    - name: Push Signed Image to Docker Hub
      run: docker push pavan095/github_action_docker:latest
      
    - name: Log out from Docker Hub  
      run: docker logout
          
      

  # health:
  #   needs: Build-test-deploy
  #   runs-on: self-hosted

  #   steps:
  #     - name: Health check
  #       run: |
  #         for i in {1..10}; do
  #           curl -s -o /dev/null -w "%{http_code}" $HEALTHCHECK_URL | grep "200" && echo "Health check passed" && exit 0 || echo "Waiting for service...";
  #           sleep 5;
  #         done;
  #         echo "Health check failed***" && exit 1


